<h1>Registration</h1>


<form class="create-update-form" action="/users/create" method="POST">
  <div class="wrapper">
  <div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="em">Username</label>
        <input type="text" id="username" name="username" class="form-control">
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="em">Email:</label>
          <input type="text" id="email" name="email" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label for="pass">Password:</label>
        <input type="password" id="password" name="password" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>
</form>