<!-- this is the sign_in.handlebars file inside the users folder of the views folder
views/users/sign_in.handlebars -->
<form class="create-update-form" action="/users/login" method="POST">

<h1 class="title">Hangman</h1>
 <hr>
  <div class="wrapper">
  <div class="home_div">
    <label for="em">Email:</label>
    <input type="text" id="em" name="email">
  </div>

  <div class="home_div">
    <label for="pass">Password:</label>
    <input type="password" id="pass" name="password">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</div>
